@import 'node_modules/bootstrap/scss/bootstrap';

html {
	scroll-behavior: smooth;
}

.logo {
	background-repeat: no-repeat;
	background-size: contain;
}

.sayHello {
	background-color: white;
	border: 2px solid #620279;
	padding: 10px 20px 10px 20px;
	border-radius: 30px;
	font-weight: 600;
	color: #620279;
	text-decoration: unset!important;
	font-family: sans-serif;
	&:hover {
		transition:.7s;
		text-decoration: unset!important;
		color : white;
		background-color: #620279;
		cursor: pointer;
	}
	&:focus {
		outline: unset;
	}
}


.cursor-pointer {
    cursor: pointer;
}


.f-30 {
	font-size: 30px;
}

.f-20 {
	font-size: 20px;
}

.text-gray {
	color: gray;
}

.avatar {
	position: relative;
	width: 20%;
    height: auto;
	overflow: hidden;
	border-radius : 100%;
	background: rgb(39,3,54);
	background: linear-gradient(180deg,#620279 0%, rgba(0,0,0,1) 100%);	
	margin-bottom: 50px;
}

.hero-endsection {
	position: relative;
    width: 60%;
}

.about-hero {
	background-color : #620279;
	color : white;
	.presentation {
		padding-top: 100px;
		text-align: center;
		font-size: 40px;
		margin-bottom: 50px;
		font-weight: bolder;
	}
	.presentation-description {
		width: 60%;
		margin-bottom: 150px;
		font-size: 16px;
	}
}



.skills-hero {
	position: relative;
	.skills-cards {
		width: 65%;
		display: flex;
		flex-direction: row;
		background: white;
		border: 1px solid #e3e3e3;
		margin-top: -100px;
		border-radius: 20px;
		.skills-card {
			padding : 30px;
			width : 33.33%;
			&.middle {
				border-right: 1px solid #e3e3e3;
				border-left: 1px solid #e3e3e3;
			}
			.skill-icon {
				width:50px;
				height: 50px;
			}
		}
	}
}

.text-primary {
	color: #620279!important;
}

.about-btn {
	color :#620279!important;
	font-weight: bolder;
	border: 2px solid #620279;
    padding: 10px 30px 10px 30px;
	border-radius: 30px;
	transition: .7s;
	text-decoration: none!important;
	&:hover {
		background-color: #620279;
		color: white!important;
	}
}

.image-inline {
	height: 0;
	border-top: 1px solid #f1f1f1;
	margin-bottom: 100px;
	.avatar {
		width: 10%;
	}
}
.form-contact {
	margin-top : 100px;
}
	
@media only screen and (max-width: 768px) {
	.avatar {
		width: 80%;
	}
	.form-contact {
		margin-top : 80px;
	}
		
	.image-inline {
		margin-bottom: 80px;
		.avatar {
			width: 30%;
		}
	}

	.hero-endsection {
		width : 95%;
	}
	
	.about-hero {
		.presentation {
			font-size: 30px;
			padding-top: 50px;
			margin-bottom: 20px;
		}
		.presentation-description {
			width: 90%;
			margin-bottom: 100px;
		}
	}
	
	.skills-hero {
		.skills-cards {
			position: relative;
			width: 90%;
			margin-top: -70px;
			flex-direction: column;
			.skills-card {
				padding : 30px;
				width :auto;
				&.middle {
					border-top: 1px solid #e3e3e3;
					border-bottom: 1px solid #e3e3e3;
					border-left: unset;
					border-right: unset;
				}
				.skill-icon {
					width:50px;
					height: 50px;
				}
			}
		}
	}
}


.form-control{
	&:focus {
		background-color:unset;
		border-color:unset;
		outline: unset;
		box-shadow: unset;
	}
}


.btn-theme {
	background-color: white;
	border: 2px solid #620279;
	padding: 10px 20px 10px 20px;
	border-radius: 30px;
	font-weight: 600;
	color: #620279;
	text-decoration: unset!important;
	font-family: sans-serif;
	&:hover {
		transition:.7s;
		text-decoration: unset!important;
		color : white;
		background-color: #620279;
		cursor: pointer;
	}
	&:focus {
		outline: unset;
	}
}
@media only screen and (max-width: 768px) {
	.job-item {
		width: 100%!important;
	}
}
.job-list {
	width : 100%;
	margin-top: 30px;
	flex-wrap: wrap;
	justify-content: center;
	.job-item {
		background-position: center;
		position: relative;
		background-size: cover;
		height: 250px;
		width: 250px;
		-webkit-box-shadow: 0px 0px 17px -1px rgba(125,35,125,1);
		-moz-box-shadow: 0px 0px 17px -1px rgba(125,35,125,1);
		box-shadow: 0px 0px 17px -1px rgba(125,35,125,1);
		border-radius: 20px;
		margin : 10px;
		
		.title {
			visibility: hidden;
			position: absolute;
			display: flex;
			align-items: center;
			justify-content: center;
			left: 0;
			right: 0;
			bottom: 0;
			top: 0;
			font-weight: bolder;
			color: white;
			background-color: #620279a1;
			border-radius: 20px;
		}
		&:hover {
			.title {
				visibility: visible;
			}
		}
	}
}

footer {
	width: 100%;
    background-color: #620279;
    height: 150px;
	color: white;
	.cardsection {
    	background-color: #620279;
		margin-top: 100px;
		@media only screen and (min-width: 769px) {
			padding: 0px 200px 0px 200px;
		}
		@media only screen and (max-width: 768px) {
			padding : 20px;
		}
		.cardcontent {
			padding: 20px;
			background-color: #37264f;
			border-radius: 20px;
			top: -40px;
			position: relative;
			display: flex;
			flex-direction: row;
			@media only screen and (max-width: 768px) {
				flex-direction: column!important;
			}
			min-height: 150px;
			justify-content: space-between;
			align-items: center;
			.title {
				padding-left: 25px;
				font-size: 25px;
				font-weight: 700;
			}
			.description {
				text-align: center;
			}
			.button {
				@media only screen and (max-width: 768px) {
					margin-top: 20px;
				}
				padding-right: 25px;
				.sayHello {
					background-color: #37264f;
					color : white;
					&:hover {
						background-color: #620279;
					}
				}
			}
		}
	}
}


.social-icon-list {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	.icon {
		margin-top: 20px;
		margin-bottom: 20px;
		margin-left: 5px;
		margin-right: 5px;
		height: 45px;
		width: 45px;
		background-size: cover;
		background-position: center;
		opacity: .6;
		&:hover {
			transition :.4s;
			opacity: 1;
		}
		&.github {
			background-image: url(/icons/git.png);
		}
		&.twitter {
			background-image: url(/icons/twitter.png);
		}
		&.linkedin {
			background-image: url(/icons/linkedin.png);
		}
	}
}